# CREDIT CARD FRAUD DETECTION

Build a model to detect fraudulent credit card transactions. Use a
dataset containing information about credit card transactions, and
experiment with algorithms like Logistic Regression, Decision Trees,
or Random Forests to classify transactions as fraudulent or
legitimate.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report # classification metrics
from imblearn.over_sampling import SMOTE # SMOTE
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import threading
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.concat([pd.read_csv('C:/Users/deepa/Desktop/CREDIT CARD FRAUD DETECTION/fraudTrain.csv'),pd.read_csv('C:/Users/deepa/Desktop/CREDIT CARD FRAUD DETECTION/fraudTest.csv')], ignore_index=True)
df.drop('Unnamed: 0',axis=1,inplace=True) # unnecessary column
df.head()

In [3]:
pd.DataFrame(df.isnull().value_counts())

                                                                                                                                                                                           0
trans_date_trans_time cc_num merchant category amt   first last  gender street city  state zip   lat   long  city_pop job   dob   trans_num unix_time merch_lat merch_long is_fraud
False                 False  False    False    False False False False  False  False False False False False False    False False False     False     False     False      False     1852394

In [4]:
# Binarizing Gender column
def gender_binarizer(x):
    if x=='F':
        return 1
    if x=='M':
        return 0

df['gender'] = df['gender'].transform(gender_binarizer)

In [7]:
df2 = df.loc[:99999,df.dtypes!=np.object]
df2

C:\Users\deepa\AppData\Local\Temp\ipykernel_13704\4083715844.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df2 = df.loc[:99999,df.dtypes!=np.object]

,cc_num,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,4.97,1,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,630423337322,107.23,1,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,38859492057661,220.11,0,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3534093764340240,45.00,0,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,375534208663984,41.96,0,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,2475085306462014,95.14,0,56152,44.2378,-95.2739,1507,1330443409,44.718105,-95.843397,0
99996,4005676619255478,8.75,0,70726,30.4590,-90.9027,71335,1330443447,29.931844,-90.610715,0
99997,3519232971341141,34.20,0,43903,40.4731,-80.9596,2208,1330443454,41.076153,-80.506107,0
99998,4040099974063068803,73.11,0,58769,48.3396,-102.2400,229,1330443491,48.535070,-102.524262,0
99999,6595970453799027,9.08,1,7980,40.6774,-74.4968,2307,1330443620,39.718206,-73.627417,0

In [1]:
X = df2.drop(['cc_num','is_fraud'],axis=1)
y = df2['is_fraud']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

NameError: name 'df2' is not defined

In [2]:
sm = SMOTE()
X_train_new, y_train_new = sm.fit_resample(X_train, y_train.ravel())

# to demonstrate the effect of SMOTE over imbalanced datasets
fig, (ax1, ax2) = plt.subplots(ncols = 2, figsize =(15, 5))
ax1.set_title('Before SMOTE')
pd.Series(y_train).value_counts().plot.bar(ax=ax1)

ax2.set_title('After SMOTE')
pd.Series(y_train_new).value_counts().plot.bar(ax=ax2)

plt.show()

NameError: name 'SMOTE' is not defined

In [4]:
X_train, y_train = sm.fit_resample(X_train, y_train.ravel())

NameError: name 'sm' is not defined

In [3]:
scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

NameError: name 'RobustScaler' is not defined

In [5]:
algorithms = [
    ("Random Forest", RandomForestClassifier()),
    ("Decision Tree ", DecisionTreeClassifier()),
    ("Logistic Regression", LogisticRegression())
]

NameError: name 'RandomForestClassifier' is not defined

In [6]:
results = {}  # Store the accuracy results

In [7]:
for algo_name, algo in algorithms:
    # Train the algorithm
    algo.fit(X_train, y_train)

    # Make predictions
    predictions = algo.predict(X_test)

    # Calculate accuracy
    accuracy = accuracy_score(y_test, predictions)

    # Store accuracy in results dictionary
    results[algo_name] = accuracy

# Print the accuracy results
for algo_name, accuracy in results.items():
    print(f"{algo_name} Accuracy: {accuracy}")

NameError: name 'algorithms' is not defined